@{
    ViewData["Title"] = "Home Page";


}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="test">
    <h1 class="judul">Halo ini adalah judul</h1>
</div>
*@

<h1 id="judul" class="judul">Ini adalah Judul</h1>
<h1 id="judul2" class="judul">Ini adalah Judul kedua</h1>


<div class="container">
    <section id="a">
        <p class="p1" onclick="ubah()">paragraf 1</p>
        <a href="#">Ini Link</a>
        <p class="p2">paragraf 2</p>
        <p class="p3">paragraf 3</p>
    </section>
    <section id="b">
        <p class="p2">paragraf 2</p>
        <p id="a">paragraf 4</p>
        <ul class="a" id="a">
            <p class="a">paragraf 4</p>
            <li class="p2">testing</li>
        </ul>
        <p id="a">paragraf 4</p>
        <ul>
            <li class="list">list1</li>
            <li class="list">list2</li>
            <li class="list">list3</li>
            <li class="list">list3</li>
            <li class="list">list3</li>
            <li class="list">list3</li>
            <li class="list">list3</li>
            <li class="list">list3</li>
        </ul>
    </section>

    <section id="a">ini adalah test</section>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
            <div class="col-md-4">
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
                <p>A fixed navigation bar stays visible in a fixed position (top or bottom) independent of the page scroll.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <h2>Contextual Classes</h2>
        <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Default</td>
                    <td>Defaultson</td>
                    <td>def@somemail.com</td>
                </tr>
                <tr class="success">
                    <td>Success</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr class="danger">
                    <td>Danger</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr class="info">
                    <td>Info</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
                <tr class="warning">
                    <td>Warning</td>
                    <td>Refs</td>
                    <td>bo@example.com</td>
                </tr>
                <tr class="active">
                    <td>Active</td>
                    <td>Activeson</td>
                    <td>act@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h1 class="title">Hello !</h1>

    <button class="changeColor">Click</button>

</div>