/**{
    border:1px solid #ddd;
    padding: 15px;
    margin:15px;

}

body{
    max-width:700px;
    margin: auto;
}

.judul{
    background-color:salmon;
}

section#a p.p2 {
    background-colo: lightblue;
}*/