@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <h1>List Employee</h1>

    <table>
        <thead>
            <tr>
                <th>NIK</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Salary</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
</head>
<body>
</body>
</html>
<script>
    $.ajax({
        url: "https://localhost:44367/api/employees/testcors",
        success: function (result) {
            console.log(result);
        }
    })
</script>



